body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDataGrid-filterForm {
  flex-direction: column;
  margin: 20px;
}

.MuiDataGrid-filterFormDeleteIcon {
  background-color: red;
  align-self: flex-end;
}

.MuiDataGrid-filterFormColumnInput {
  margin-bottom: 20px;
}
.MuiDataGrid-filterFormOperatorInput {
  margin-bottom: 20px;
}
.MuiDataGrid-filterFormValueInput {
  margin-bottom: 20px;
}

.css-ogxvyo-MuiDataGrid-root .MuiDataGrid-menuOpen {
  display: none;
}
